*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --pretoPrincipal:#1B191A;
    --cinzaPrincipal:#d9d9d9;
    --azulPrincipal:#00BCD4;
    --verdePrincipal:#2FEB98;
}
body{
    background-color:var(--cinzaPrincipal);
}
button{ 
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}
button:hover{
    filter: brightness(1.1);
}


.visor{
    display: flex;
    justify-content: end;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color:var(--pretoPrincipal);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    
}

.resultado{
    background-color: var(--pretoPrincipal);
    border: none;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    margin: 2rem 0 2rem 0;
    font-size:1.5rem;
    overflow: hidden;
    /*font-size: 1.75rem;/*
    padding:30px 0 5px 0;
    color: #ffffff;
    */
}

#inputResultado{
    width: 100%;
    
}
.row{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}
.operationButton{
    background-color: var(--azulPrincipal);
    color: #ffffff;
    font-size: 1.875rem;
    width: 70px;
    height: 60px;
    border: none;
    
}
/*Ajustes no Botão c*/
.operationButtonC{
    
    
    /*border-radius: 10px 0 0 0;*/
}
/*Ajustes no Botão Barra*/
.operationButtonBar{
    
    /*border-radius: 0 10px 0 0;*/
}
.rowNumbersOperations{
    display: flex;
    flex-direction: row;
    
    
}



/*Botões de numero*/
.buttonNumber{
    color: var(--azulPrincipal);
    width: 70px;
    height: 60px;
    background-color: var(--pretoPrincipal);
    font-size: 1.875rem;
    border: 1px solid black;
    /*border: 1px solid var(--cinzaPrincipal);*/
    /*margin-right: 15px;*/
    /*border: 1px solid var(--cinzaPrincipal);*/
}

#btnResult{
    /*border-radius: 0 0 10px 0;*/
    background-color: var(--verdePrincipal);
    border: none;
}

footer{
    border-top: 1px solid var(--azulPrincipal);
    text-align: center;
    padding: 1rem;
}

footer a{
    text-decoration: none;
    color: var(--azulPrincipal);
}